<h2>Formular adaugare soldat</h2>
<form method="post" action="/Utilizatoris/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Nume" />
    <br /><br />
    <label>Adresa e-mail</label>
    <br />
    <input type="text" name="Prenume" />
    <br /><br />
    <label>Utilizator_Id</label>
    <br />
    <input type="text" name="Utilizator_Id" />
    <br />
    <br />
    <button type="submit">Adauga soldat</button>
</form>